:root {
	--phi: calc(sqrt(5) * 0.5 - 0.5);
	--phi-aspect: sqrt(var(--phi));
	--body-padding: calc(1rem * pow(var(--phi), 1));
	--header-link-padding: calc(1rem * pow(var(--phi), 1))
		calc(1rem * pow(var(--phi), -1));
}

html {
	scrollbar-width: none;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

header,
main {
	margin: var(--body-padding);
}
header nav {
	display: flex;
	flex-wrap: wrap;
}
header nav a {
	margin: calc(1rem * pow(var(--phi), 2)) calc(1rem * pow(var(--phi), 2));
	flex: 1 0 auto;
	padding: var(--header-link-padding);
	border: 0.1rem solid;
	border-radius: 1rem;
	text-align: center;
}

main {
	flex: 1;
	padding: var(--body-padding);
	padding: var(--header-link-padding);
	border: 0.1rem solid;
}
